*/.DS_Store
.DS_Store?
.DS_Store
.idea/*
.gradle/*
build/*
target/*
copy.sh
local-certs.js

/out/
*.log

tightblog_data/*

docker/web/*.jks

etc/sqlgen/.gradle/*
etc/sqlgen/build/*

src/main/webapp/tb-ui/

### Editor directories and files ###
.vscode
node_modules

errortxt.txt
/application-tbcustom.properties
