# Compose file reference: https://docs.docker.com/compose/compose-file/
# Can run via docker-compose -p tightblog up -d (from this or parent folder)
# NOTE: Before running, make sure you created serverKeystore.jks file (see web/application-custom.properties for more info)
version: "3.8"
services:
    tightblog-web:
      build:
          context: ..
          dockerfile: ./docker/web/Dockerfile
      restart: on-failure
      ports:
# TightBlog configured for SSL, uses port 8443 internally, 443 externally
#  (i.e., can view from browser at https://localhost/tightblog)
        - "443:8443"
      links:
        - tightblog-db
      volumes:
# TightBlog uses a named volume to store media images and the blog search index
# Subfolders for both are configured in the web/application-tbcustom.properties file.
        - tightblog-data:/tightblog-data
      depends_on:
        - "tightblog-db"
    tightblog-db:
      image: mysql:8.0
      environment:
# Change credentials as desired for production use :)
        MYSQL_ROOT_PASSWORD: tiger
        MYSQL_DATABASE: tightblog
        MYSQL_USER: scott
        MYSQL_PASSWORD: tiger
      expose:
        - "3306"
      ports:
# Optional, allows one to view the MySQL database at port 3307 with a SQL client running on the host
        - "3307:3306"
      volumes:
        - tightblog-data:/var/lib/mysql

volumes:
    tightblog-data:
